@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
:root {
    --english-violet: #44355bff;
    --dark-purple: #31263eff;
    --raisin-black: #221e22ff;
    --marigold: #eca72cff;
    --flame: #ee5622ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

html {
    font-size: 62.5%;
}

main {
    width: auto;
    height: auto;
    background-color: var(--dark-purple);
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    /* border: 4px black dotted; */
}

.card-info__perfil {
    height: 14rem;
    flex-basis: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.card-info__foto {
    width: 30%;
    height: 100%;
    margin-right:20px;
    display: flex;
}

.card-info__foto-img {
    margin: auto;
    width: 100%;
}

.card-info__titulo {
    font-size: 2.5rem;  
    font-weight: 700; 
    color: var(--marigold);
}

.card-info__caja {
    height: 5.6rem;
    flex-basis: 90%;
    margin: 10px auto;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border: 2px var(--english-violet) solid;
    background-color: var(--english-violet);
    transition: all .2s ease;
}

.card-info__caja::before {
    transition: all 0.3s ease;
}

.card-info__caja:active {
    transform: scale(0.96);
  }

.card-info__icono {
    width: 15%;
    height: 100%;
    display: flex;
}

.card-info__icono-img {
    height: 60%;
    margin: auto;
}

.card-info__subtitle {
    font-size: 1.7rem;    
    font-weight: 500;
}

.card-info__link {
    text-decoration: none;
    color: var(--marigold);
}

.card-info__link:hover:before {
    width: 100%;
    background: #ffab9d;
 }

.card-personaje {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px white dotted; */
}

.card-personaje__caja {
    height: 10.6rem;
    flex-basis: 90%;
    margin: 10px auto;
    border-radius: 14px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    cursor:pointer;
    border: 2px var(--english-violet) solid;
    background-color: var(--english-violet);
}

.card-personaje__avatar {
    width: 30%;
    height: 100%;
    margin-right:20px;
    display: flex;
}

.card-personaje__avatar-icon {
    margin: auto;
    height: 80%;
}

.card-personaje__textbox {
    width: 50%;
    height: 100%;
    padding: 20px 0;
}

.card-personaje__nombre {
    font-size: 1.8rem;
    color:  var(--marigold);
    font-weight: 700;
}

.card-personaje__resume {
    font-size: 1.2rem;
    color: #dadada;
}