* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* .main {
    
}

.card-info {
    
}

.card-info__perfil {
    
}

.card-info__foto {
    
}

.card-info__titulo {
    
}

.card-info__caja {
    
}

.card-info__subtitle {
    
}

.card-info__icono-img {

} */







